.zener-card::after {
    content: "";
    /* border: 2px solid blue; */
    display: block;
    width: 132px;
    height: 212px;
    background-image: radial-gradient(blue, #2e4052, #ffc857, blue);
    /* background-size: 130px 212px; */
    /* transition: all 1s ease; */
}

#hero.zener-card::after {
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}

.btn.zener-card::after {
    width: 50px;
    height: 85px;
    background-size: 275px 100px;
    padding: 0;
    margin: 0;
    /* border shadow */
    -webkit-box-shadow: 13px 7px 11px -3px rgba(140, 138, 140, 0.48);
    -moz-box-shadow: 13px 7px 11px -3px rgba(140, 138, 140, 0.48);
    box-shadow: 13px 7px 11px -3px rgba(140, 138, 140, 0.48);
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
}

.circle::after {
    background-image: url('../ESP/assets/svg/zener_cards.svg');
    background-position: -20px -20px;
    background-repeat: no-repeat;
    z-index: -2;
}

.btn.circle::after {
    background-position: -7px;
}

.plus::after {
    background-image: url('../ESP/assets/svg/zener_cards.svg');
    background-position: -160px -20px;
    background-repeat: no-repeat;
}

.btn.plus::after {
    background-position: -60px;
}

.waves::after {
    background-image: url('../ESP/assets/svg/zener_cards.svg');
    background-position: -300px -20px;
    background-repeat: no-repeat;
}

.btn.waves::after {
    background-position: -113px;
}

.square::after {
    background-image: url('../ESP/assets/svg/zener_cards.svg');
    background-position: -440px -20px;
    background-repeat: no-repeat;
}

.btn.square::after {
    background-position: -165px;
}

.star::after {
    background-image: url('../ESP/assets/svg/zener_cards.svg');
    background-position: -580px -20px;
    background-repeat: no-repeat;
}

.btn.star::after {
    background-position: -218px;
}

.subtle {
    font-size: 0.6em;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* left: 0; */
}
