.zener-card {
    width: 150px;
    height: 200px;
    position: relative;

    .card-img {
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 0px;
        padding-right: 40px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
